.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.option-choice-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  padding: 10px 0 20px 0;
}

.option {
  padding: 8px 16px;
  background: #ffffff;

  border: 1px solid #e5e5ea;
  border-radius: 40px;

  font-style: normal;
  font-weight: 700;
  font-size: 2vh;
  line-height: 2.6vh;

  color: #737373;

  margin-right: 10px;
}

.selected {
  background-color: #d5d6ff;
  color: #170046;
}
